.Btn {
  position: relative;
  padding: 10px 30px;
  font-size: 17px;
  margin: 0;
  font-weight: 500;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
}

.Btn img,
.Btn svg {
  width: 1em;
  margin-right: 0.5em;
}

.IconButton {
  padding: 6px 6px;
}

.IconButton svg {
  margin-right: 0;
}

.Btn-primary {
  --btn-primary-color: var(--color-secondary);
  --btn-secondary-color: var(--color-white);
}

.Btn-secondary {
  --btn-primary-color: var(--color-aux-secondary);
  --btn-secondary-color: var(--color-aux-text-primary);
}

.Btn-primary.Btn-filled:hover {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  border-color: transparent !important;
}

.Btn-danger {
  --btn-primary-color: var(--color-aux-danger);
  --btn-secondary-color: var(--color-aux-text-primary);
}

.Btn-success {
  --btn-primary-color: var(--color-aux-success);
  --btn-secondary-color: var(--color-aux-text-primary);
}

.Btn-error {
  --btn-primary-color: var(--color-aux-error);
  --btn-secondary-color: var(--color-aux-text-primary);
}

.Btn:disabled {
  --btn-primary-color: var(--color-disabled);
  --btn-secondary-color: transparent !important;
}

.Btn-filled,
.Btn-outlined:hover {
  background-color: var(--btn-primary-color) !important;
  color: var(--btn-secondary-color) !important;
  border-color: transparent !important;
}

.Btn-outlined,
.Btn-filled:hover {
  background-color: transparent !important;
  color: var(--btn-primary-color) !important;
  border-color: var(--btn-primary-color) !important;
}

.Btn:disabled,
.Btn:disabled:hover {
  background-color: transparent !important;
  color: var(--color-disabled) !important;
  border-color: var(--color-disabled) !important;
  cursor: not-allowed;
}

.Btn-text {
  background-color: transparent;
  color: var(--color-black);
  border-color: transparent;
  border-radius: 0;
  padding: 5px;
}

.Btn-text:hover {
  color: var(--btn-primary-color);
  border-bottom-color: var(--color-black) !important;
}

.Btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.FullWidth {
  width: 100%;
}
