.ContactButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: var(--color-white);
  cursor: pointer;
  font-weight: 700;
  padding: 0.85rem 1.15rem;
  text-decoration: none;
}

.ContactButton:hover {
  background-color: var(--color-primary);
  text-decoration: underline;
}
